<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.danie.medikcal">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_medikcal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_medikcal_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaDispositivos"
            android:label="Dispositivos Pareados:"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AddNovoAlimento"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInGoogle"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlimentoListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>